* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

:root {
    --color-pink: #ff0080;
    --color-secondary: #FDE8F3;
}

.bg-pink { background-color: var(--color-pink) !important; }
.text-pink { color: var(--color-pink) !important; }

.mision-sobre-aurea {
  background-color: var(--color-secondary);
  padding: 60px 20px; 
  border-radius: 8px; 
  margin-top: 40px; 
}

.separador-rosado {
    background-color: var(--color-pink);
    color: #FFF;
    text-align: center;
    padding: 48px 0;
}

.titulo-separador {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
}

